*{
    margin: 0;
    padding: 0;
}
body{
  background-color: rgb(41, 41, 41);
}

.top{
  height: 80vh;
  width: 100%;
  background-image:url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0px 0 0px;
  padding: 10px 0 10px;
  text-align: center;
  background: rgb(255, 255, 255);
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #000000;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 5px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #000000;}
.menu-main a.current, .menu-main a:hover{color: #000000;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  right: 50%;
  bottom: 0px;
  left: 50%;
  background: #000000f1;
  transition: .3s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   

.goat{
  margin-top: 40px;
  margin-bottom: 40px;
}

.think{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  margin: 40px;
}